.basic-text p{
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    margin-bottom: 20px;
}
.option-geo{
    margin-top: 60px;
    z-index: 999;
    overflow-x: hidden;
    position: absolute;
    font-size: 18px;
    color: #000;
    width: 100%;
    background: #fff;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    /*border-bottom: 1px solid #9b9b9b;*/
    overflow-y: auto;
}
.option-geo ul {
    height: 200px;
}
.option-geo ul li{
    cursor: pointer;

    padding: 5px 13px
}
.option-geo ul li:hover{
    color: #fff;
    background: #8c9beb;
}
.geo{
    cursor: pointer;
}
.geo-container-option{
    margin-bottom: 20px;
    display: none;
}
.delivery-adress.point p{
    margin-bottom: 15px;
}
.loader-quantity{
    display: none;
    position: absolute;
    width: 100px;
    z-index: 99;
    text-align: center;
    background-color: white;
}
.invalid-feedback{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    display: none;
}
.ui.cart{
    background-color: #3f496c;
}
.delivery-adress{
    margin-top: 30px;
}
.error{
    border: 1px solid red!important;
}
.hide{
    display: none;
}
.city-validator{
    display: none;
}
.show{
    display: block;
}
.product-info{
    margin-bottom: 10px!important;
}
.product-info.price{
    margin-bottom: 30px!important;
}
.basic-text{
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
}
.basic-button.fiolet.in-basket.add-to-basket{
    margin-top: 10px;
}
.size-option{
    padding: 8px; border: 2px solid gray;font-weight: 700;margin-bottom: 5px; margin-top: 5px;

}
.size-option:hover{
    border: 2px solid  #912DFF;
}
.size-option.active{
    border: 2px solid  #912DFF;
}

.calk-page{
    background-image: url(http://unicorn/img/calk.png);
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@media only screen and (max-device-width: 480px) {
    .calk-page{
        height: 300px!important;
    }
}